.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}

.link {
  margin-top: 15px;
  padding: 15px 0;
  text-decoration: none;
}

.linkText {
  font-size: 14px;
  color: #4150F7;
}

